<div class="buttons">
  <!--<button class="btn btn-success btn-sm" (click)="refreshChannel()">Refresh</button>-->
  <button class="btn btn-danger btn-sm" (click)="deleteChannel()">Delete channel</button>
</div>

<h4>{{ channel.title }}</h4>

<img [src]="channel.image" class="channel-image" alt="">

<p>{{ channel.description }}</p>

<app-messages-list [messages]="channel.messages" [section]="'channel'"></app-messages-list>

<div class="modal fade message-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
